<html>
  <head>
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/app.js"> </script>
  </head>
  <body>
    Logged in as: {{{ user.username }}}
    {{{ body }}}
  </body>
</html>
